body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: white;
  }
  
  input, button {
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
  }
  
  .weather-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 15px auto;
    
    background-color: #6a24ac;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .flag {
    width: 30px;
    height: 20px;
    object-fit: contain;
    border: 1px solid #ccc;
  }
  
  .weather-details {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 20px;
  }
  
  .weather-detail {
    background-color: #a5c3d6;
    padding: 10px;
    border-radius: 8px;
  }
  
  .icon {
    width: 60px;
    vertical-align: middle;
  }
  